.tournament__art {
    width: 474px;
    grid-area: 1 / 1 / 5 / 2;
    position: relative;
}

.tournament__art__player, .tournament__art__hand, .tournament__art__star, .tournament__background__texture {
    position: absolute;
}

.tournament__art__composite {
    width: 529px;
    height: 555px;

    position: absolute;
    left: -28px;
    top: -28px;
    isolation: isolate;

    background-image: url(/src/images/playing-chess/playing-chess__main.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tournament__art__composite::after {
    content: "";

    position: absolute;
    inset: 0;

    background-image: url(/src/images/paper-texture.png);
    background-size: cover;
    background-position: center;

    mix-blend-mode: color-burn;

    -webkit-mask-image: url(/src/images/playing-chess/playing-chess__main.png);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url(/src/images/playing-chess/playing-chess__main.png);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    pointer-events: none;
}

.tournament__art__hand {
    top: 331px;
    right: -5px;

    animation: twitch 2s steps(1) infinite;
}

@keyframes twitch {
    0% {
        transform: rotate(0deg);
    }

    24% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    49% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    99% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}